AI_Content_Factory_Error_Handler_V1.json
{
  "name": "AI Content Factory Error Handler V1",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.SUPABASE_PROJECT_URL}}/rest/v1/rpc/log_job_error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_execution_id",
              "value": "={{ $json.execution.id }}"
            },
            {
              "name": "p_error_message",
              "value": "={{ $json.execution.error.message }}"
            },
            {
              "name": "p_last_node",
              "value": "={{ $json.execution.lastNodeExecuted }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-error-log",
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *AI Content Factory Error* 🚨\n\n*Execution ID:* `{{ $json.execution.id }}`\n*Failed Node:* `{{ $json.execution.lastNodeExecuted }}`\n*Error Message:* ```{{ $json.execution.error.message }}```\n\nCheck Supabase and n8n logs immediately."
            }
          ]
        },
        "options": {}
      },
      "id": "slack-error-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Supabase": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
